spring:
  application:
    name: ddalkak-api

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:ddalkak}?characterEncoding=UTF-8&serverTimezone=UTC
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true
    show-sql: false
    open-in-view: false

  jackson:
    default-property-inclusion: non_null
    serialization:
      write-dates-as-timestamps: false

  cache:
    type: simple

  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /api/v1

logging:
  level:
    root: INFO
    com.ddalkak: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
